[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-playwright = "*"
pytest = "*"
playwright = "*"
qase-pytest = "*"
pytest-html = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
test = "pytest"
create-test = "playwright codegen"
headed = "pytest --headed"
qase-report = "pytest --qase-mode=testops --qase-to-api-token=$QASE_ACCESS_TOKEN --qase-to-project=$QASE_PROJECT_CODE"
create-report = "pytest --html=report.html --self-contained-html"
